
@section css{
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true"></link>
}
@section js{
    <script src="~/js/Index.js" asp-append-version="true"></script>
}

    <img src="/MyImage/Iicon.jpg" class="I">
    <div class="list">
    <h1 class="textEdge">技能</h1>
    <ul>
        <li>網頁前端 Html Css JavaScript GSAP<a asp-action="MyGame">程式&UI設計</a></li>
        <li>Matlab <a asp-action="MyMatlab">資料分析與視覺化設計</a></li>
        <li>網頁後端 Asp.Net Core 8.0 MVC架構 <a asp-action="MyMVC">程式設計</a></li>
        <li>C++ Freeglut Opengl <a asp-action="MyGL">程式設計&視角轉換概念</a></li>
    </ul>
    <div>聯絡方式:
        <ul>
        <li><a href="mailto:a21641330@gmail.com">a21641330@gmail.com</a></li>    
        <li><a href="tel:0919605398">0919-605-398</a></li>    
        </ul>
    </div>
    </div>

