/*start DropList*/
.DropList.option{
    position:relative;
    width:max-content;
    border: 5px ridge rgb(3, 115, 227) ;
    min-width: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.502);
}
.DropList.option:hover{
    background-color: rgb(162, 162, 162);
}
.DropList.list{
    position: absolute;
}
.DropList{
    max-width: 100px;
    margin: 0 0;
    z-index: 9999;
}
.DropList.contain{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:max-content;
    user-select: none;
    padding: 8px;
}

/*end DropList*/
/*start ShineBox*/
.ShineBox.light{
 display: none;
  position:absolute;
  width: 20px;
    height: 400%;
   
    background: linear-gradient(
      to right,
      rgba(248, 245, 214, 0.2) 0%,
      rgba(254, 241, 193, 0.8) 50%,
      rgba(252, 251, 240, 0.2) 100%
    );
    rotate: 45deg;
    z-index: 1;
    border-top: 5px solid red;
}
.ShineBox.bg{
  display: none;
  position:absolute;
  background-color: rgba(251, 252, 250, 0.822);
  width: 10%;
  height:50%;
  border-radius: 5px;
 
}
.ShineBox.contain{
  position: relative;
  display: flex;
  border-radius: 10px;
  width:400px;
  height: 100px;
  background-size: 200% 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.ShineBox.txt{
  width: 95%;
  height: 90%;
  border-radius: 5px;
  background-color: silver;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
/*end ShineBox*/
/*start MoveBackground*/
.MoveBackground.bg{
    position: fixed;
    width: 100.1%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.MoveBackground.contain{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
}
/*end MoveBackground*/
/*start TextColor*/
.TextColor.contain{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-size: 25px;
  padding: 1px;
  font-weight: bold;
}
.TextColor.edge{
  position: absolute;
  color: transparent;
  -webkit-background-clip: text; 
  -webkit-text-stroke: 0.1em transparent;
  background-clip: text;
  user-select: none;
 
}
.TextColor.main{
  position: relative;
  background-color: rgb(155, 155, 155);
  color: transparent;
  
  -webkit-background-clip: text; /* 背景裁剪到文字 */
  background-clip: text;
}
.TextColor.hover,
.TextColor.selected {
  color: rgb(255, 215, 0);
}
  

/*end TextColor*/
/*Start StarRating*/
.StarRating.contain{
  display: flex;
  flex-direction: row;
  user-select: none;
}
/*end StarRating*/
/*Start PriceLabel*/
.PriceLabel.contain{
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
}
.PriceLabel.unit{
  font-size: smaller;
}
.PriceLabel.price{
  font-size:30px;
}
.PriceLabel.priceOriginContain{
  color: rgb(155, 155, 155);
  position: relative;
  display: flex;
  flex-direction: row;
  height:fit-content ;
  margin-top: 1em;
}
.PriceLabel.priceOrigin{
  text-decoration:line-through;
}
/*end PriceLabel*/
/*Start ItemBlock*/
.ItemBlock.contain.type1{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  height:fit-content ;
  border: 1px solid rgb(88, 88, 88);
}
.ItemBlock.image.type1{
  cursor: pointer;
  width: 25%;
  height:auto ;
  max-height: 250px;
}
.ItemBlock.title.type1{
  cursor: pointer;
  font-size: larger;
  font-weight: 700;
}
.ItemBlock.title.type1:hover{
  color: orange;
}
.ItemBlock.box.type1{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 75%;
  height:100% ;
}

.ItemBlock.car.type1{
  cursor: pointer;
  border-radius:15px;
  padding: 5px;
  background-color: goldenrod;
}
.ItemBlock.car.type1:hover{
  background-color: rgb(173, 132, 26);
}
/*end ItemBlock*/
/*start PageButton*/
.PageButton.button.selected{
  background-color: darkgray;
}
.PageButton.button{
  width: 50px;
  height: auto;
}

.TextColor.contain.PageButton.contain{
  border: 1px solid rgb(84, 84, 84);
}
.TextColor.contain.PageButton.button:hover{
  background-color:  rgb(210, 147, 53);
}
.PageButton.contain{
  font-size: 40px;
  display: flex;
  flex-direction: row;
justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
/*end PageButton*/
/*start ListMessage*/
.ListMessage.contain{
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(93, 93, 93);
}
.ListMessage.txt{
  width: 90%;
  word-break: break-all;
}
.ListMessage.icon{
  background-color: black;
  font-size: 40px;
  width: 10%;
  border-radius: 25px;
  text-align: center;
}
.ListMessage.icon:hover{
  background-color: rgb(83, 83, 83);
  cursor: pointer;
}
/*end ListMessage*/

.OptDiv.contain{
  border: 1px solid rgb(78, 78, 78);
  border-radius: 10px;
}
.OptDiv.contain.selected{
  border-color: rgb(0, 0, 165);
}

/*start ProductPage*/
.ProductPage.contain{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}
.ProductPage.image{
  position: relative;
  width: 90%;
  height: auto;
}
.ProductPage.title{
  position: relative;
  height: auto;
  word-break: break-all;
}
.ProductPage.section1{
  position: relative;
  
  min-width: 450px;
  width: 40%;
  height: auto;
  min-height: fit-content;
}
.ProductPage.section2{
  position: relative;
  min-width: 250px;
  width: 30%;
}
.ProductPage.section3{
  position: relative;
  min-width: 200px;
  width: 15%;
}
.ProductPage.content{
  height: auto;
  word-break: break-all;
}
/*end ProductPage*/
/*start InfoDiv*/
.InfoDiv.contain{
  position: relative;
  width: 50%;
  font-size: 20px;
  border: 1px solid rgb(69, 69, 69);
  border-radius: 5px;
  padding: 2%;
  padding-right: 0;
}
.InfoDiv.title{
  font-size: larger;
  font-weight: bolder;
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 0%;
}
.InfoDiv.subtitle{
  
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.InfoDiv.list{
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 5%;
}
.InfoDiv.list:hover{
  background-color: rgb(71, 71, 71);
}
.InfoDiv.listTitle{
  width: 30%;
}
.InfoDiv.listValue{
  width: 70%;
}
.InfoDiv.hr{
  height: 1px;
   background-color: rgb(71, 71, 71);
}
/*end InfoDiv*/
/*start UserIcon*/
.UserIcon.icon,.UserIcon.contain{
  width: 50px;
  height: 50px;
  border-radius: 999px;
  border: 1px solid rgb(135, 135, 135);
}
.UserIcon.icon{
  cursor: pointer;
  user-select: none;
}
.UserIcon.list{
  display: none;
  position:fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 90%;
  right: 0;
  top: 10%;
  background-color: rgb(44, 44, 44);
  border-radius: 50px;
  gap: 10%;
  z-index: 1;
}
.UserIcon.list img{
  border-radius: 999px;
  width: 75px;
  height: 75px;
  border: 1px solid rgb(135, 135, 135);
  user-select: none;
}
.UserIcon.manage{
  border-radius: 999px;
  border: 1px solid rgb(135, 135, 135);
  padding: 2%;
  cursor: pointer;
}
.UserIcon.manage:hover{
   background-color: rgb(135, 135, 135);
}
/*end UserIcon*/
/*start special*/
.textEdge{
    color: #2a2a2a;
    background-color:whitesmoke; 
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-stroke: 0.1em transparent;
     
 }
.RightCart.contain{
  position:fixed;
  display: none;
  overflow: scroll;
  flex-direction: column;
  right: 0;
  width: 10%;
  height:90%;
  top: 10%;
  text-align: center;
  align-items: center;
 background-color: rgb(78, 78, 78);
 scrollbar-width: thin;
 scrollbar-color: rgb(168, 168, 71) rgb(52, 52, 52);
}
.RightCart.title{
  position:fixed;
  flex-direction: column;
  align-items: center;
}

.RightCartSide{
  width: 90%;
}


.LRListCart.contain{
display: flex;
flex-direction: row;
font-size: larger;
border: 1px solid white;
border-radius: 9999px;
user-select: none;
text-align: center;
}
.LRListCart.txt{
  width: 50px;
  margin :auto;
}
.LRListCart.btL,.LRListCart.btR{
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 9999px;
}
.LRListCart.btL:hover,.LRListCart.btR:hover{
  background-color: rgb(135, 135, 135);
}

.RightCartItem.contain{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border:1px solid rgb(135, 135, 135);
}
.RightCartItem.contain img{
  width: 100%;
  height: auto;
  cursor: pointer;
}

/*Cart*/
.Cart.checkout{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Cart.main{
  position: relative;
  width: 75%;
}
.Cart.contain{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  padding: 1%;
  gap:20px ;
}
.CartItem.contain .PriceLabel.contain{
  margin-left: auto;
  margin-right: 0;
}
.Cart.title{
  font-size:xx-large;
}
.Cart.subtitle{
  text-align: right;
}
.CartItem.contain{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  border-bottom: 1px solid rgb(135, 135, 135);
}
.CartItem.content{
  display: flex;
  flex-direction: column;
  width:70%;
  gap: 2%;
}
.CartItem.content .LRListCart.contain{
  width: 15%;
}
.CartItem.image{
  width:20%;
  height: 180px;
}
/*Cart end*/

/*ECode start*/
.ECode.contain{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
}
.ECode.div{
  background-color: transparent;
  color:inherit;
  width: 50px;
  height: 50px;
  font-size:xx-large;
  border: 1px solid rebeccapurple;
  text-align: center;
  line-height:50px;
  
}

.ECode.submit{
  background-color: transparent;
  color:inherit;
  border: 1px solid rgb(94, 94, 94);
}
.ECode :hover{
  background-color: rgb(74, 74, 74);
}
/*ECode end*/
.Game_2048_1.contain{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("/MyImage/gd.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.Game_2048_1.main{
  position: relative;
  display: flex;
  flex-direction: column;
  transform: rotateX(-60deg) rotateZ(45deg);

}
.Game_2048_1.main img{
  padding: 2%;
  transform:rotateZ(-45deg) rotateX(0deg) ;
  height:140%;
}
.Game_2048_1.block div{
  padding: 2%;
  transform:rotateZ(-45deg) rotateX(0deg) ;
  font-size: 50px;
  position: absolute;
  right: 0%;
  top: 20%;
  z-index: 1;
  width: fit-content;
  background:black;
  background-clip: text;
  -webkit-text-stroke: 0.1em transparent;
}
.Game_2048_1.block{
  position: relative;
  height: 150px;
  width: 150px;
  background-color: rgba(246, 224, 129, 0.881);
  border: 5px ridge rgb(220, 68, 3)
} 
.Game_2048_1.block img{
position: absolute;
right: 20%;
bottom: 0;
}

.Game_2048_1.button{
  position: absolute;
  bottom: -5%;
  right:  5%;
  font-size: 100px;
  font-weight:9000;
  background-color: white;
  background-clip: text;
  -webkit-text-stroke: 0.1em transparent;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: rotateX(-60deg) rotateZ(45deg);
}
.Game_2048_1.score{
    text-align: center;
    font-size: 40px;
}
.Game_2048_1.addBt{
  display: flex;
  flex-direction: row;
  position: absolute;
  font-size: 40px;
  bottom: 1%;
  left: 1%;
  width: 20%;
  height: 100px;
  padding: 5%;
  text-align: center;
  line-height: 100px;
  border-radius: 9999px;
  border: 2px ridge rgb(251, 212, 86);
  background-image: linear-gradient(to right,rgb(42, 232, 9) 50% ,rgb(19, 111, 3) 50%);
  user-select: none;
  margin-right: 60%;
}
.Game_2048_1.addBt:hover{
  background-image:linear-gradient(to right,rgb(31, 169, 7) 50% ,rgb(11, 65, 2) 50%);
}
.Game_2048_1.addBt img{
  width: 40%;
  height:100%;
}
.Game_2048_1.addBt{
  box-sizing: unset !important;
}
.Game_2048_1.bt{
  text-align: center;
  line-height: 150px;
  width: 150px;
  height: 150px;
}

.StartPage.contain{
    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(2, 37, 57);
    background-size:auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    user-select: none;
   
}
.StartPage.contain .btnn{

    font-size: 30px;
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(9, 2, 79);
    border-radius: 15px;
    border: 5px ridge rgb(1, 110, 172);
}
.StartPage.contain .btnn:hover{
    background: rgb(13, 2, 129);
}

.Page.back{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.Page.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;

    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 80%;
    z-index: 3;
    border: 5px ridge rgb(2, 0, 6);
    user-select: none;
}
.Page.main.Option div{
    cursor: pointer;
}
.Game_tree.desp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  height: 20%;
  width: 100%;
}
.Game_tree.desp img{
  width: auto;
  max-width: 18%;
  height: 100%;
}
.Game_tree.timer{
  z-index: 99;
  font-size: 40px;
}
.Game_tree.effIcon{
  display: none;
  z-index: 99;
}
.Game_tree .StartPage.contain,.Game_tree .Page.back{
  z-index: 100;
}
.Game_tree.main.contain{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 90vh;
  background-image: url("/MyImage/bch.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.Game_tree.dir{
  position: absolute;
  border-radius: 50%;
  font-size: 100px;
  width: 25%;
  height: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px ridge snow;
  user-select: none;
  bottom: 0;
}
.Game_tree.dir:hover{
  background-clip: unset !important;
  background-color: rgba(128, 128, 128, 0.5);
}
.Game_tree.dir.l{
left: 0;
}
.Game_tree.dir.r{
right: 0;
}
.Game_tree.starSpace{
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0%;
  top: -45%;
  transform: rotateX(-80deg);
  z-index: 99;
}
.Game_tree.star{
  display: none;
  width: 100%;
  width: 100%;
}
.Game_tree.charSpace{
  display: none;
  position: absolute;
  width:fit-content;
  height: fit-content;
}
.Game_tree.char{
  width:auto;
  height: 200px;
}
body{
  overflow-x: hidden;
}
.Game_tree.trunkbg{
  width: 15%;
  height: 25%;
  position: absolute;
}
.Game_tree.trunk.contain{
  width: 15%;
  height: 25%;
  position: absolute;

}
.Game_tree.trunk.c{
  width: 100%;
  height: 100%;
}
.Game_tree.trunk.r{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  top: -10%;
  left: 80%;
 width: 120%;
  height: 80%;
  
}
.Game_tree.trunk.l{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  top: -10%;
  right: 80%;
  width: 120%;
  height: 80%;
}
.Game_tree.branchR{
   width: 100%;
  height: 100%;
}
.Game_tree.branchL{
  width: 100%;
  height: 100%;
  rotate: y 180deg;
}
.Game_tree.icon{
  position: absolute;
   width: 50%;
  height: 50%;
  padding: 2%;
  margin-top: 30%;
}
.Game_tree.combo{
 font-size: 50px;
}
.Game_tree.score{
  position: absolute;
  left: 1%;
  top:20%;
  font-size:40px;
} 


.TimerBar.bar{
  width: 200px;
  height: 100px;
}
.bar{
  border-bottom-left-radius: 25% 50%;
  border-top-left-radius: 25% 50%;
  border-bottom-right-radius: 25% 50%;
  border-top-right-radius: 25% 50%;
}
.TimerBar.contain{
  display:"none";
  position: absolute;
  right: 10%;
  top: 10%;
}

.TimerPie.contain{
  position: relative;
  border-radius: 50%;
  background-color: rgba(206, 173, 5, 0.644);
  border:2px solid #e4e002;
}
.TimerPie.cover{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.TimerPie.icon{
  border-radius: 50%;
  width: 75px;
  height: 75px;

}


.bt{
  border-radius: 999px;
  border: 1px solid rgb(135, 135, 135);
  padding: 5%;
  width:max-content;
  cursor: pointer;
}
.bt:hover{
   background-color: rgb(135, 135, 135);
}

.flexColume{
  display: flex;
  flex-direction: column;
}
.flexRow{
  display: flex;
  flex-direction: row;
}
.flexRow.end,.flexColume.end{
  justify-content: end;
}
.flexRow.item.center,.flexColume.item.center{
  align-items: center;
  gap: 5px;
}
.hover:hover{
   background-color: rgb(135, 135, 135);
}
.danger{
  color: crimson;
}